/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0
} */
html{
    overflow-x:hidden;
}
body{
    background-color: #F6F7F8;
    overflow-x:hidden;
}

.nav-btn{
    color: #fff;
    font-size: 13px;
    font-family: Arial;
    background: #ff9900;
    padding: 7px 5px;
    border: none;
    /* width: 5rem; */
    font-weight: 800;
}

.nav-btn2{
    color: #fff;
    font-size: 13px;
    font-family: Arial;
    background: #ff9900;
    padding: 7px 25px;
    border: none;
    font-weight: 800;
}


@media screen and (max-width:479px){
    .sub-footer{
        flex-direction: column;
    }
}

p font{
    color: #2f3639;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

small,a,p{
    font-family: Arial, Helvetica, sans-serif;
    color: #16a9cd;
}

