/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0
} */
html{
    overflow-x:hidden;
}
body{
    background-color: #F6F7F8;
    overflow-x:hidden;
}

.header-top{
    margin-top: -0.5rem;
}

.nav-btn{
    background-color: #f90;
    border-color: #DDD #DDDDDD #CCC;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #FFF;
    padding: 4px 3px;
    font-weight: bold;
    width: 70px;
    font-size: 11px;
    cursor: pointer;
}

.nav-btn2{
    background-color: #f90;
    border-color: #DDD #DDDDDD #CCC;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #FFF;
    padding: 4px 3px;
    font-weight: bold;
    width: 128px;
    font-size: 11px;
    cursor: pointer;
}

.sub-footer{
    background: none repeat scroll 0 0 #f3f3f3;
    border: 1px solid #b3abab;
    border-left: none;
    border-right: none;
    border-bottom: none;
    height: 45px;
    margin-bottom: -0.5rem;
}

.sub-footer a{
    font-size:12px;

}
.vertical {
    border-left: 1px solid #16a9cd;
    height: 17px;
}

small{
    font-size: 11px;
}

.outer-card{
    background: #ffff;
    margin-left: 11rem;
    margin-right: 11rem;
    
}

.inner-card{
    padding-left: 2rem;
    padding-right: 2rem;

}




p font{
    color: #2f3639;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

small,a,p{
    font-family: Arial, Helvetica, sans-serif;
    color: #16a9cd;
}

